################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/hw/.vs
/hw/build
/hw/hw/out/build/x64-Debug (default)
/hw/out/build/x64-Debug
/.vs
/hw/CMakeFiles
/hw/gui/CMakeFiles
/hw/hw/CMakeFiles
/hw/out/build/x64-Debug (default)
